<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial -scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Analytics</title>
    <link rel="stylesheet" href="/static/analytics.css">
    <script src="/static/JS/collapse.js" defer></script>
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Add jQuery library -->
    <script>
        // Function to get checked checkbox ids on button click
        function getCheckedCheckboxIds() {
            var checkedIds = []; // Array to store checked checkbox ids
            $('input[type="checkbox"]:checked').each(function() {
                checkedIds.push($(this).attr('id')); // Push checked checkbox id to the array
            });
            return checkedIds;
        }

        // Function to handle button click event
        function handleButtonClick() {
            var checkedIds = getCheckedCheckboxIds(); // Call the function to get checked checkbox ids
            console.log(checkedIds); // Print the checked checkbox ids in the console
        }
    </script>
</head>
<body>

  <h1>Analytics</h1>
    
<div class="accordion">
  <div class="accordion-item">
    <div class="accordion-item-header">
      <p title="{{diseases_description_1}}">{{diseases_name_1}}</p>
    </div>
    <div class="accordion-item-body">
      <div class="accordion-item-body-content">
        <table>
          <thead>
            <th>Diets</th>
            <th>Workouts</th>
            <th>Medications</th>
          </thead>
          <tbody>
            <tr>
              <td title="{{diet_description_1_1}}">{{diet_name_1_1}}</td>
              <td title="{{workout_description_1_1}}">{{workout_name_1_1}}</td>
              <td title="{{medication_description_1_1}}">{{medication_name_1_1}}</td>
            </tr>
            <tr>
              <td title="{{diet_description_1_2}}">{{diet_name_1_2}}</td>
              <td title="{{workout_description_1_2}}">{{workout_name_1_2}}</td>
              <td title="{{medication_description_1_2}}">{{medication_name_1_2}}</td>
            </tr>
            <tr>
              <td title="{{diet_description_1_3}}">{{diet_name_1_3}}</td>
              <td title="{{workout_description_1_3}}">{{workout_name_1_3}}</td>
              <td title="{{medication_description_1_3}}">{{medication_name_1_3}}</td>
            </tr>
          </tbody>
        </table>         
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-item-header">
      <p title="{{diseases_description_2}}">{{diseases_name_2}}</p>
    </div>
    <div class="accordion-item-body">
      <div class="accordion-item-body-content">
        <table>
          <thead>
            <th>Diets</th>
            <th>Workouts</th>
            <th>Medications</th>
          </thead>
          <tbody>
            <tr>
              <td title="{{diet_description_2_1}}">{{diet_name_2_1}}</td>
              <td title="{{workout_description_2_1}}">{{workout_name_2_1}}</td>
              <td title="{{medication_description_2_1}}">{{medication_name_2_1}}</td>
            </tr>
            <tr>
              <td title="{{diet_description_2_2}}">{{diet_name_2_2}}</td>
              <td title="{{workout_description_2_2}}">{{workout_name_2_2}}</td>
              <td title="{{medication_description_2_2}}">{{medication_name_2_2}}</td>
            </tr>
            <tr>
              <td title="{{diet_description_2_3}}">{{diet_name_2_3}}</td>
              <td title="{{workout_description_2_3}}">{{workout_name_2_3}}</td>
              <td title="{{medication_description_2_3}}">{{medication_name_2_3}}</td>
            </tr>
          </tbody>
        </table>         
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-item-header">
      <p title="{{diseases_description_3}}">{{diseases_name_3}}</p>
    </div>
    <div class="accordion-item-body">
      <div class="accordion-item-body-content">
        <table>
          <thead>
            <th>Diets</th>
            <th>Workouts</th>
            <th>Medications</th>
          </thead>
          <tbody>
            <tr>
              <td title="{{diet_description_3_1}}">{{diet_name_3_1}}</td>
              <td title="{{workout_description_3_1}}">{{workout_name_3_1}}</td>
              <td title="{{medication_description_3_1}}">{{medication_name_3_1}}</td>
            </tr>
            <tr>
              <td title="{{diet_description_3_2}}">{{diet_name_3_2}}</td>
              <td title="{{workout_description_3_2}}">{{workout_name_3_2}}</td>
              <td title="{{medication_description_3_2}}">{{medication_name_3_2}}</td>
            </tr>
            <tr>
              <td title="{{diet_description_3_3}}">{{diet_name_3_3}}</td>
              <td title="{{workout_description_3_3}}">{{workout_name_3_3}}</td>
              <td title="{{medication_description_3_3}}">{{medication_name_3_3}}</td>
            </tr>
          </tbody>
        </table>         
      </div>
    </div>
  </div>

<div class="container">
  <div class="center">
    <a class="button" href="/" ><span>Home</span></a>
    <a class="button" id="getCheckedButton" onclick="handleButtonClick()"href="/logs" ><span>View Logs</span></a>
  </div>
</div>
</body>
</html>