<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>SHA</title>

        <!-- CSS FILES -->        
       <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">     
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdel  ivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        <link href="/static/bootstrap-icons.css" rel="stylesheet">
        <link href="/static/bootstrap.min.css" rel="stylesheet">
        <link href="/static/owl.carousel.min.css" rel="stylesheet">
        <link href="/static/owl.theme.default.min.css" rel="stylesheet">
        <link href="/static/templatemo-mediccare.css" rel="stylesheet">
    </head>
    
    <body id="top">
    
        <main>

            <nav class="navbar navbar-expand-lg bg-light fixed-top shadow-lg" style="border-bottom: px solid purple;">
                <div class="container">
                    <a class="navbar-brand mx-auto d-lg-none" href="index.html">
                        SHA
                        <strong class="d-block">Health Care Services</strong>
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#about">About</a>
                            </li>                      
                            <a class="navbar-brand d-none d-lg-block" href="index.html">
                                SHA
                                <strong class="d-block">Health Care Services</strong>
                            </a>
                            <li class="nav-item active">
                                <a class="nav-link" href="/logs">Log</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>

            <section class="hero" id="hero">
                <div class="container">
                    <div class="row">

                        <div class="col-12">
                            <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="/static/images/slider/portrait-successful-mid-adult-doctor-with-crossed-arms.jpg" class="img-fluid" alt="">
                                    </div>

                                    <div class="carousel-item">
                                        <img src="/static/images/slider/doctor-s-hand-holding-stethoscope-closeup.jpg" class="img-fluid" alt="">
                                    </div>

                                    <div class="carousel-item">
                                        <img src="/static/images/slider/young-asian-female-dentist-white-coat-posing-clinic-equipment.jpg" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="heroText d-flex flex-column justify-content-center">

                                <h1 class="mt-auto mb-2">
                                    Better
                                    <div class="animated-info">
                                        <span class="animated-item">health</span>
                                        <span class="animated-item">days</span>
                                        <span class="animated-item">lives</span>
                                    </div>
                                </h1>

                                <p class="mb-4">SHA (Smart Health Assistance) provides disease notifications and personalized diets, workouts and medications for better health management.</p>

                                <div class="heroLinks d-flex flex-wrap align-items-center">
                                    <a class="custom-link me-4" href="#about" data-hover="Learn More">Learn More</a>

                                    
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="section-padding" id="about">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-12">
                            <h2 class="mb-lg-3 mb-3">SHA</h2>

                            <p align="justify">Smart Health Analyzing Services is an innovative health monitoring service that leverages advanced technology to analyze your health in real-time. This service provides personalized suggestions and predictions based on your health data to help you maintain your well-being. Using cutting-edge algorithms and machine learning techniques, Smart Health Analyzing Services tracks your vital signs, activities, and provides insightful reports to help you understand your health better. With its intuitive and user-friendly interface, you can easily keep track of your health progress and receive valuable recommendations to achieve your health goals. Smart Health Analyzing Services is the ultimate solution for those who value their health and want to live a happier and healthier life.</p>

                            <p>.</p>
                        </div>

                        <div class="col-lg-4 col-md-5 col-12 mx-auto">
                            <div class="featured-circle bg-white shadow-lg d-flex justify-content-center align-items-center">
                                <p class="featured-text centered"><span class="featured-number">We</span>Offer Quality<br>Services</p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="gallery">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-6 ps-0">
                            <img src="/static/images/gallery/Health1.jpg" class="img-fluid galleryImage" alt="HealthCare" title="HealthCare"
                            width="570px"
                            height="372px">
                        </div>

                        <div class="col-lg-6 col-6 pe-0">
                            <img src="/static/images/gallery/female-doctor-with-presenting-hand-gesture.jpg" class="img-fluid galleryImage" alt="wear a mask" title="wear a mask to protect yourself">
                        </div>

                    </div>
                </div>
            </section>

            <section class="section-padding pb-0" id="timeline">
                <div class="container">
                    <div class="row">

                        <h2 class="text-center mb-lg-5 mb-4"> Timeline</h2>
                        
                        <div class="timeline">
                            <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes">
                                <div class="col-9 col-md-5 me-md-4 me-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                                    <h3 class=" text-light">Smart Watch</h3>

                                    <p style=>The Smart Watch has sensors that assess physiological data such as heart rate, heart rate variability, respiratory rate, oxygen saturation, wrist temperature, and body mass for health monitoring.</p>
                                </div>

                                <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                                    <i class="bi bi-smartwatch timeline-icon"></i>
                                </div>

                               <div class="col-9 col-md-5 ps-md-3 ps-lg-0 order-1 order-md-3 py-4 timeline-date">
                                    <!-- <time>2021-07-31 Saturday</time> -->
                                </div> 
                            </div>

                            <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes my-lg-5 my-4">
                                <div class="col-9 col-md-5 ms-md-4 ms-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                                    <h3 class=" text-light">Getting Readings</h3>

                                    <p>To monitor patients' health status, healthcare providers can securely gather and handle clinically relevant data such as heart rate, respiration, oxygen saturation, and body mass.</p>
                                </div>

                                <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                                    <i class="bi-book timeline-icon"></i>
                                </div>

                                <div class="col-9 col-md-5 pe-md-3 pe-lg-0 order-1 order-md-3 py-4 timeline-date">
                                    <!-- <time>2021-07-15 Thursday</time> -->
                                </div> 
                            </div>

                            <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes">
                                <div class="col-9 col-md-5 me-md-4 me-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                                    <h3 class=" text-light">Storing The Readings</h3>

                                    <p>Once securely stored in an SQLite database, the collected readings can be analyzed and used to provide web-based recommendations and information..</p>
                                </div>

                                <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                                    <i class="bi-server timeline-icon"></i>
                                </div>

                                 <div class="col-9 col-md-5 ps-md-3 ps-lg-0 order-1 order-md-3 py-4 timeline-date">
                                    <!-- <time>2021-06-28 Monday</time> -->
                                </div> 
                            </div>

                            <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes my-lg-5 my-4">
                                <div class="col-9 col-md-5 ms-md-4 ms-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                                    <h3 class=" text-light">Analyze The Readings</h3>

                                    <p class="mb-0 pb-0">Health parameter trend analysis can identify abnormal changes, enabling personalized treatment recommendations and actions for proactive health management.</p>
                                    
                                    
                                </div>

                                <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                                    <i class="bi bi-bar-chart-fill timeline-icon"></i>
                                </div>

                                 <div class="col-9 col-md-5 pe-md-3 pe-lg-0 order-1 order-md-3 py-4 timeline-date">
                                    <!-- <time>2021-05-30 Sunday</time> -->
                                </div> 
                            </div>

                            <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes">
                                <div class="col-9 col-md-5 me-md-4 me-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                                    <h3 class=" text-light">Diet and Workout Recommendations</h3>

                                    <p>Customized diet, workout, and medication recommendations can be given based on thorough analysis of health parameters and unique health profile.</p>
                                </div>

                                <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                                    <i class="bi bi-clipboard-data timeline-icon"></i>
                                </div>

                                <div class="col-9 col-md-5 ps-md-3 ps-lg-0 order-1 order-md-3 py-4 timeline-date">
                                    <!-- <time>2021-05-18 Tuesday</time> -->
                                </div>
                            </div>

                            <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes">
                                <div class="col-9 col-md-5 me-md-4 me-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                                    <h3 class=" text-light">Log on Web</h3>

                                    <p>A centralized platform offers users access to track their health parameters and relevant information for proactive health management.</p>
                                </div>

                                <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                                    <i class="bi bi-cloud-arrow-up-fill timeline-icon"></i>
                                </div>
                                <div class="col-9 col-md-5 ps-md-3 ps-lg-0 order-1 order-md-3 py-4 timeline-date">
                                    <!-- <time>2021-05-18 Tuesday</time> -->
                                </div>

                            </div>  
                            <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes">
                                <div class="col-9 col-md-5 me-md-4 me-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                                    <h3 class=" text-light">Chatbot for Queries</h3>

                                    <p>The interactive virtual assistant provides personalized health information, data, suggestions, and assistance to help users achieve their health goals.</p>
                                </div>

                                <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                                    <i class="bi bi-chat-text timeline-icon"></i>
                                </div>
                                <div class="col-9 col-md-5 ps-md-3 ps-lg-0 order-1 order-md-3 py-4 timeline-date">
                                    <!-- <time>2021-05-18 Tuesday</time> -->
                                </div>
                            </div>  
                        </div>

                    </div>
                </div>
            </section>

           
           <!--{% block section %}--> 
            <section class="section-padding" id="booking">
                <div class="container">
                    <div class="row">
                    
                        <div class="col-lg-8 col-12 mx-auto">
                            <div class="booking-form">
                                
                                <h2 class="text-center mb-lg-3 mb-2">Dashboard</h2>
                            
                                <form role="form" action="#booking" method="post">
                                    <div class="row" style="margin-left: 118px;">
                                        <div class="col-lg-4 col-12" id="spo2">
                                            <img src="/static/images/dashboard/spo2.png" alt="spo2" style="width: 75px;border-radius: 100%;
                                            border: 2px solid black;">
                                            <br><span>{{OxygenSaturation}}%</span>
                                            
                                        </div>

                                        <div class="col-lg-4 col-12" id="heartRate">
                                            <img src="/static/images/dashboard/heartRate.png" alt="spo2" style="width: 75px;border-radius: 100%;
                                            border: 2px solid black;">
                                            <br><span>{{HeartRate}} BPM</span>
                                            
                                             
                                        </div>

                                        <div class="col-lg-4 col-12" id="variability">
                                            <img src="/static/images/dashboard/variability.png" alt="spo2" style="width: 75px;border-radius: 100%;
                                            border: 2px solid black;">
                                            <br><span>{{HeartRateVariabilitySDNN}} ms</span>
   
                                        </div>
                                        
                                        <div class="col-lg-4 col-12" style="padding-top: 30px;" id="Respiratory">
                                            <img src="/static/images/dashboard/Respiratory.png" alt="spo2" style="width: 75px; border-radius: 100%;border: 2px solid black">
                                            <br><span>{{RespiratoryRate}} count/min</span>
                                        </div>    
                                        
                                        
                                        <div class="col-lg-4 col-12" style="padding-top: 30px;" id="bodyTemp">
                                            <img src="/static/images/dashboard/bodyTemp.png" alt="spo2" style="width: 75px; border-radius: 100%;border: 2px solid black">
                                            <br><span>{{WristTemperature}} degC</span>
                                        </div>    
                                       
                                       
                                        <div class="col-lg-4 col-12" style="padding-top: 30px;" id="bodyMass">
                                            <img src="/static/images/dashboard/bodyMass.png" alt="spo2" style="width: 75px; border-radius: 100%;border: 2px solid black">
                                            <br><span>{{BodyMass}} Kg</span>
                                        </div> 
                                        
                                        
                                        <!-- <div class="text-center" id="analyze">
                                            <button  class="btn btn-primary" style="width:50%;padding-left: 100px;padding-right: 100px;padding-top: 9px;margin-top: 35px;margin-right: 81px;">Analyze</button>
                                        </div> -->
                                        <div class="text-center" id="analyze">
                                            <!--<button class="btn btn-primary" style="width:50%;padding-left: 100px;padding-right: 100px;padding-top: 9px;margin-top: 35px;margin-right: 81px;" onclick=" ">Analyze</button> -->
                                            <a class="btn btn-primary" href="/analytics" style="width:50%;padding-left: 100px;padding-right: 100px;padding-top: 9px;margin-top: 35px;margin-right: 81px;"F7F7F7><span>Analyze</span></a>
                                        </div>
   
                                </form>

                            </div>
                        </div>

                    </div>
                </section>
                <a href="/chatbot">
                <img src="https://tinyurl.com/23wyfqu7" width="70" height="70" style="
                    position: fixed;
                    bottom: 20px;
                    right: 20px;
                    border-radius: 50%;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                    transition: transform 0.2s ease-in-out;
                    z-index: 9999;
                ">
                </a>

<style>
  img:hover {
    transform: scale(1.1);
  }
</style>


                 </div>
           <!--{% endblock section %}-->

        </main>
        
        <!-- JAVASCRIPT FILES -->
        <script src="/static/JS/jquery.min.js"></script>
        <script src="/static/JS/bootstrap.bundle.min.js"></script>
        <script src="/static/JS/owl.carousel.min.js"></script>
        <script src="/static/JS/scrollspy.min.js"></script>
        <script src="/static/JS/custom.js"></script>
<!--

TemplateMo 566 Medic Care

https://templatemo.com/tm-566-medic-care

-->
    </body>
</html>